{{ define "header" }}
<!doctype html>
<html lang="en">
<head>
	<title>Admin后台管理</title>
	<script src="/adminfs2/static/js/jquery.min.js"></script>
	<link rel="stylesheet" href="/adminfs2/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/adminfs2/static/css/base.css"/>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="/adminfs2/static/js/bootstrap.min.js"></script>
	<script src="/adminfs2/static/js/bootstrap-table.min.js"></script>
	<link rel="stylesheet" href="/adminfs2/static/css/bootstrap-table.min.css"/>
	<script src="/adminfs2/static/js/moment.min.js"></script>
	<script src="/adminfs2/static/js/bootstrap-datetimepicker.min.js"></script>
	<link rel="stylesheet" href="/adminfs2/static/css/bootstrap-datetimepicker.min.css"/>
	<script src="/adminfs2/static/js/bootstrap-duallistbox.min.js"></script>
	<link rel="stylesheet" href="/adminfs2/static/css/bootstrap-duallistbox.min.css"/>
</head>
<body>
{{ end }}